In [11]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import cPickle as pickle

In [5]:
path = 'test64.emd'
size = 64
data = pd.read_csv(path, header=None, index_col=0, skiprows=1, names=np.arange(size), sep=" ")

In [12]:
def read_pickle(path):
    with open(path, 'rb') as infile:
        return pickle.load(infile)

In [6]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
8407,-0.509839,0.130316,0.537201,-0.420415,0.063562,-0.220329,0.347463,-0.220612,0.212495,0.172507,...,-0.467757,0.435015,-0.240713,-0.169010,-0.314546,0.023538,0.235830,-0.482671,-0.737904,-0.034339
24134,-0.762458,-0.209415,-0.012720,-0.596400,0.093211,-0.379369,0.383266,-0.082587,0.080922,-0.057420,...,-0.683487,0.726207,0.089751,-0.587924,-0.085845,0.497894,0.018399,-0.359172,0.048604,-0.174402
437,-0.567770,-0.361471,0.317059,0.171634,0.501322,0.028927,-0.475412,0.215894,-0.349919,-0.187479,...,-0.434644,0.182110,-0.737798,-0.081906,-0.732887,0.208704,1.018759,0.026315,0.026876,0.023387
5137,-0.114107,-0.762725,0.428250,-0.164369,0.262402,-0.282245,0.441096,-0.002964,-0.808163,-0.026543,...,0.116016,-0.034020,0.427990,0.505340,-0.523311,-0.282126,-0.195657,0.071896,0.249905,-0.065358
112225,-0.756745,-0.023949,0.804185,-0.250221,-0.235534,-0.252788,-0.055301,-0.696824,-0.533545,-0.256596,...,-0.445286,0.011182,-0.139111,0.167113,-1.012066,0.000972,0.321081,-0.443356,-0.084046,-0.338192

In [7]:
data.shape

(43942, 64)

In [8]:
data = data.sort_index()

In [9]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,-0.055238,0.067509,0.605642,-0.292846,0.572666,0.047598,0.252838,-0.619420,-0.200715,0.714666,...,-0.723926,-0.253441,-0.338413,0.645716,-0.633293,-0.114032,0.392921,-0.630678,-0.594772,-0.134718
1,-0.358324,0.448643,0.195792,-0.398027,0.262251,-0.518747,-0.349987,-0.427236,-0.469585,0.248236,...,0.057365,0.037636,-0.535748,0.171712,-0.577734,0.280372,-0.203097,-0.727411,-0.344239,0.298205
2,-0.488536,0.249600,0.285928,-0.129736,0.327222,-0.472600,0.271808,0.005700,0.202555,-0.386753,...,-0.612655,0.470951,-0.497956,-0.070499,-0.776085,-0.157178,0.220377,-0.020486,-0.761504,0.154803
3,-0.290978,0.543192,1.079988,-0.325179,0.548619,-0.133236,0.309269,-0.459271,0.075997,0.448158,...,-0.365809,0.129793,-0.437225,0.020424,-0.481050,0.400779,0.166219,-0.527631,-0.460074,0.768183
4,-0.278322,0.429405,0.207571,-0.205618,0.424053,-0.013210,0.121148,-0.669809,-0.092317,0.446910,...,-0.742416,0.151438,-0.441521,0.218120,-0.856869,0.060749,0.575097,-0.433136,-0.365345,0.250606

In [14]:
y_path = 'y.p'
targets = read_pickle(y_path)

In [15]:
type(targets)

pandas.core.frame.DataFrame

In [16]:
targets.head()

    fan_idx  cat
0         0    2
11        1    1
29        2    1
45        3    2
99        4    2

In [17]:
targets.tail()

       fan_idx  cat
99963     6444    5
99964     6445    0
99967     6446    3
99968     6447    1
99969     6448    0

In [19]:
X = read_pickle('X.p')

In [20]:
X.shape

(6449, 682230)

In [21]:
y = data.ix[targets['fan_idx']]

In [22]:
y.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,-0.055238,0.067509,0.605642,-0.292846,0.572666,0.047598,0.252838,-0.619420,-0.200715,0.714666,...,-0.723926,-0.253441,-0.338413,0.645716,-0.633293,-0.114032,0.392921,-0.630678,-0.594772,-0.134718
1,-0.358324,0.448643,0.195792,-0.398027,0.262251,-0.518747,-0.349987,-0.427236,-0.469585,0.248236,...,0.057365,0.037636,-0.535748,0.171712,-0.577734,0.280372,-0.203097,-0.727411,-0.344239,0.298205
2,-0.488536,0.249600,0.285928,-0.129736,0.327222,-0.472600,0.271808,0.005700,0.202555,-0.386753,...,-0.612655,0.470951,-0.497956,-0.070499,-0.776085,-0.157178,0.220377,-0.020486,-0.761504,0.154803
3,-0.290978,0.543192,1.079988,-0.325179,0.548619,-0.133236,0.309269,-0.459271,0.075997,0.448158,...,-0.365809,0.129793,-0.437225,0.020424,-0.481050,0.400779,0.166219,-0.527631,-0.460074,0.768183
4,-0.278322,0.429405,0.207571,-0.205618,0.424053,-0.013210,0.121148,-0.669809,-0.092317,0.446910,...,-0.742416,0.151438,-0.441521,0.218120,-0.856869,0.060749,0.575097,-0.433136,-0.365345,0.250606

In [23]:
ls

Untitled.ipynb   X.p              test64.emd
Untitled1.ipynb  test.edgelist    y.p